button {
  height: 100px;
  margin: 0;
  font-size: 32px;
  padding: 0;
  border-color: lightgray;
}

.common {
  width: 25%;
  background-color: #e0e0e0;
}

.double {
  width: 50%;
  background-color: #e0e0e0;
}

.operator {
  width: 25%;
  background-color: #f5913e;
}
